<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: white;}
h1   {color: black;}
p    {color: black;}
p1   {font-weight: bold};
</style>
</head>
<body>
  
  <div class="container">
  <div class="page-header">
    <h1>About SportsCal</h1>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, quos molestias dolorem repellat beatae ipsum voluptates quam ex. Molestias tempora quas accusamus incidunt odio iste necessitatibus magnam earum placeat reiciendis!</p>
  
</html>