<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: white;}
h1   {color: black;}
p    {color: black;}
p1   {font-weight: bold};
</style>
</head>
<body>
  
  <div class="container">
  <div class="page-header">
    <h1>Contact Me</h1>
  </div>
  <p1>Vinh Le</p1>
  <p>(281) 854-4267</p>
  <p>vbaole07@yahoo.com</p>
  <p>Houston, TX</p>


    
    <p>Let's get in touch. Send me a message. <span class="glyphicon glyphicon-envelope"></span></p>
    <p><input class= type="text" placeholder="Name"></p>
    <p><input class= type="text" placeholder="Email"></p>
    <p><input class= type="text" placeholder="Subject"></p>
    <p><input class= type="text" placeholder="Comment"></p>
    <p><button> SEND MESSAGE</button></p>
    </div>
</body>
</html>