<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        margin: auto;
    }
    </style>
  </head>
  
  

<body>

<div class="jumbotron">
  <h1>SportsCal</h1>
  <p class="lead">Game changer.</p>
  <p><a class="btn btn-lg btn-success"  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </a></p>
</div>
      

<p></p>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://b-i.forbesimg.com/kurtbadenhausen/files/2014/01/lebron.jpg" alt="Snow">
      <div class="carousel-caption">
        <h3>Placeholder</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, quae ducimus illo placeat non quam et itaque nihil reiciendis corrupti. Officiis, similique consectetur odio totam iusto voluptate ex adipisci suscipit!</p>
      </div>
    </div>
    
     <div class="item">
      <img src="http://www.pix123.com/bettingpro/201406/Jun15/9619_beach-volley-2.jpg" alt="Trenches">
      <div class="carousel-caption">
        <h3>Placeholder</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, cumque eius corrupti assumenda quod nemo minima architecto doloremque! Veniam, illum, dignissimos perferendis nihil blanditiis perspiciatis quia deleniti esse repellat tempore..</p>
      </div>
    </div>

    <div class="item">
      <img src="https://lh6.googleusercontent.com/MxUcvltX8XyHvTPfO5t7SSxg7jik2DNkPeKJk9Na1PQbdQdgafhOT8H9XTHVljqZHcQf2Q6Qq21oLYxLA60dNcLxIoRQyPdzlqW0Sv3RwA6BiGjTdTAmZBpNS_8NhiAG-BAicI2g" alt="Trenches">
      <div class="carousel-caption">
        <h3>Placeholder</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, numquam labore similique placeat accusantium a aspernatur iusto in sapiente atque vero reiciendis dolorum fuga consequuntur et ea deserunt! Quos, quisquam..</p>
      </div>
    </div>

    <div class="item">
      <img src="http://traveljapanblog.com/ashland/wp-content/uploads/2013/09/139_9314-touchdown-grizzlies.jpg" alt="Touchdown">
      <div class="carousel-caption">
        <h3>Placeholder</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, perspiciatis similique qui pariatur nam asperiores optio aliquid sunt vero minima voluptatum hic suscipit iure magnam molestiae. Quidem quibusdam fuga mollitia.</p>
      </div>
    </div>
    
    


  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>
      
      

      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
